<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <package android:name="com.damon1974.infowatchface.wear" />
    </queries>

    <!-- Note: hasCode is required to be false for Watch Face Format -->
    <application
        android:hasCode="false"
        android:label="@string/watch_face_name">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="1" />

        <meta-data
            android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
            android:value="androidx.wear.watchface.editor.action.WATCH_FACE_EDITOR" />

    </application>

</manifest>
